<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="main-visual">
        <div class="main-visual-content">
          <p class="text-white">ようこそ、mama弁へ！</p>
          <p class="text-white">このサイトは、お子様用のお弁当投稿をまとめたサイトになります。</p>
          <p class="text-white">アカウントを重たいでない方も、投稿の閲覧はできますが、</p>
          <p class="text-white">ご自身で投稿することや、お気に入り登録にはアカウント登録が必要になります。</p>
        </div>
      </div>

      <div class="ranking-posts">
        <h3>お気に入りランキング</h3>
        <% @posts.each do |post| %>
        <table class= "d-inline-block">
          <tr>
            <td>
                <%= link_to post_path(post) do %>
                  <%= attachment_image_tag(post, :image, :fill, 270, 150) %>
                <% end %>
            </td>
          </tr>
          <tr>
            <td><%= post.user.name %></td>
          </tr>
          <tr>
            <td><%= post.title %></td>
          </tr>
          <tr>
            <td><%= "お気に入り数: #{post.favorite.count}件" %></td>
          </tr>
        </table>
        <% end %>

        <p class="text-md-right">
          <%= link_to "全ての商品を見る>", posts_path %>
        </p>
      </div>

    </div>
  </div>
</div>