<div class="search">
  <%= search_form_for q do |f| %>
    <table class="table table-borderless">
      <tr>
        <td>ジャンル<%= f.collection_select :genre_id_eq, @genres, :id, :genre_name, :include_blank => '指定なし' %></td>
      </tr>
      <tr>
        <td>検索ワード<%= f.search_field :title_or_material_cont %>
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<div class="tag">
  <% if @tags.present? %>
    <% @tags.each do |tag| %>
      <%= link_to "##{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name) %><br>
    <% end %>
  <% else %>
  <p><strong>登録されているタグはありません</strong></p>
  <% end %>
</div>

<%# if user_signed_in? && current_user.withdraw_status != nil %>
<div class="new-post">
  <%= link_to image_tag(src= "new-post2.png"), new_post_path %>
</div>
<%# end %>