<div class="container">

  <!--モデルpost-->
  <%= form_with model: @post, url: post_path(@post), local: true do |f| %>
  <% @post.errors.full_messages.each do |message| %>
    <p>※<%= message %></p>
  <% end %>
  <div class="row">
    <div class="col-md-5.5">
      <table class="table table-borderless">
        <tr>
          <td>アカウント名</td>
          <td><%= link_to "#{current_user.name}", new_post_path %></td>
        </tr>
        <tr>
          <td>ジャンル選択</td>
          <td><%= f.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: "選択して下さい" %></td>
        </tr>
        <tr>
          <td>タグ</td>
          <td><%= f.text_field :tag_list, value: @post.tag_list.join(','), data: {role: "tagsinput"}, placeholder: "5個まで登録可能です" %></td>
        </tr>
        <tr>
          <td>お弁当完成画像</td>
          <td><%= f.attachment_field :image %></td>
        </tr>
      </table>
      <table class="table table-borderless">
        <tr>
          <td><img id="preview"></td>
        </tr>
      </table>
    </div>

    <div class="col-md-6.5">
      <table class="table table-borderless">
        <tr>
          <td>タイトル名</td>
          <td><%= f.text_field :title, placeholder: "タコさんウインナーと愉快な仲間たち", size: 50 %></td>
        </tr>
        <tr>
          <td>投稿紹介文</td>
          <td><%= f.text_area :introduction, placeholder: "子供の運動会用に作ってみました！", size: "50x10" %></td>
        </tr>
        <tr>
          <td>材料</td>
          <td><%= f.text_area :material, placeholder: "たまご:２個 ウインナー:１袋 砂糖:大さじ２ など", size: "50x10" %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
  <% @post.recipes.each.with_index(1) do |recipe, index| %>
    <%= f.fields_for :recipes, recipe do |r| %>
    <%= render "users/shared/error_messages", resource: resource %>
      <div class="col-md-4">
        <table class="table table-borderless">
          <thead>
            <tr>
              <td style="width:10%">作り方<%= index %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= r.attachment_field  :recipe_image %></td>
            </tr>
            <tr>
              <td><img id="preview_recipe1"></td>
            </tr>
            <tr>
              <td><%= r.text_area :recipe, placeholder: "まずはたまごを２個よく混ぜ砂糖を入れます", size: "40x5" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
  </div>


    <div class="text-right">
      <%= image_submit_tag("update.png") %>
    </div>

　<!--form_withの閉じ-->
  <% end %>

</div>