<div class="container">

  <!--モデルpost-->
  <div class="row">
    <div class="col-md-5.5">
      <table class="table table-borderless">
        <tr>
        <% if current_user.id == @post.user.id %>
          <td>アカウント名</td>
          <td><%= "#{@post.user.name}" %>さん</td>
        <% else %>
          <td>アカウント名</td>
          <td><%= link_to "#{@post.user.name}", users_post_histories_path(@post.user.id) %>さん</td>
        <% end %>
        </tr>
        <tr>
          <td>ジャンル選択</td>
          <td><%= @post.genre.genre_name %></td>
        </tr>
        <tr>
          <td>タグ</td>
          <td><%= @post.tag_list %></td>
        </tr>
        <tr>
          <td>お弁当完成画像</td>
        </tr>
      </table>
      <table class="table table-borderless">
        <tr>
          <td><%= attachment_image_tag @post, :image, format: 'jpeg', size: "450x250" %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-6.5">
      <table class="table table-borderless">
        <tr>
          <td>タイトル名</td>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>投稿紹介文</td>
          <td><%= @post.introduction %></td>
        </tr>
        <tr>
          <td>材料</td>
          <td><%= @post.material %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <% @post.recipes.each_with_index do |recipe, idx| %>
      <div class="col-md-4">
        <% if recipe.present? %>
        <table class="table table-borderless">
          <thead>
            <tr>
              <td style="width:10%"><%= "作り方#{idx + 1}" %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= attachment_image_tag recipe, :recipe_image, format: 'jpeg', size: "350x200" %></td>
            </tr>
            <tr>
              <td><%= recipe.recipe %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    <% end %>
  </div>

    <div class="text-center">
      <% if current_user == @post.user %>
        <%= link_to '編集する', edit_post_path(@post), class:"btn btn-success" %>
        <%= link_to '削除する', post_path(@post), class:"btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか?" %>
      <% else %>
        <div class="my_comment">
          <%= render "users/post_comments/my_comment", post_comments: @post.post_comments %>
          <div id="comment_error"></div>
        </div>
        <div class="comment_form">
          <%= form_with model:[@post, @post_comment], url: post_post_comments_path(@post), remote: true do |f| %>
          <% @post_comment.errors.full_messages.each do |message| %>
            <p>※<%= message %></p>
          <% end %>
            <%= f.text_area :comment, size:"110x5", rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "コメントを送信", class: 'btn btn-primary btn-sm' %>
          <% end %>
        </div>
        <div class="favorite-btn<%= @post.id %>">
          <%= render "users/favorites/favorite", post: @post %>
        </div>
      <% end %>
    </div>

</div>