<div class="container">

  <!--モデルpost-->
  <div class="row">
    <div class="col-md-5.5">
      <table class="table table-borderless">
        <tr>
        <% if current_user.id == @post.user.id %>
          <td>アカウント名</td>
          <td><%= "#{@post.user.name}" %>さん</td>
        <% else %>
          <td>アカウント名</td>
          <td><%= link_to "#{@post.user.name}", users_post_histories_path(@post.user.id) %>さん</td>
        <% end %>
        </tr>
        <tr>
          <td>ジャンル選択</td>
          <td><%= @post.genre.genre_name %></td>
        </tr>
        <tr>
          <td style="width:20px">タグ</td>
          <td style="width:20px"><%= @post.tag_list %></td>
        </tr>
        <tr>
          <td>お弁当完成画像</td>
        </tr>
      </table>
      <table class="table table-borderless">
        <tr>
          <td><%= attachment_image_tag @post, :image, :fill, 450,250, format: 'jpeg', size: "450x250" %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-6.5">
      <table class="post-show table table-borderless">
        <tr>
          <td style="width: 30%">タイトル名</td>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>投稿紹介文</td>
          <td><%= @post.introduction %></td>
        </tr>
        <tr>
          <td>材料</td>
          <td><%= @post.material %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <% @post.recipes.each_with_index do |recipe, idx| %>
      <div class="col-md-4">
        <% if recipe.present? %>
        <table class="table table-borderless">
          <thead>
            <tr>
              <td style="width:10%"><%= "作り方#{idx + 1}" %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% if recipe.recipe_image.present? %>
                <td><%= attachment_image_tag recipe, :recipe_image, format: 'jpeg', size: "350x200", class: "preview_recipe#{idx}", follback: image_url("no-image.png") %></td>
              <% else %>
                <td><%= image_tag(src= "no-image.png", size: "350x200") %></td>
              <% end %>
            </tr>
            <tr>
              <td><%= recipe.recipe %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <div class="post-show-btn">
      <% if current_user == @post.user %>
        <%= link_to image_tag(src= "edit.png"), edit_post_path(@post) %>
        <%= link_to image_tag(src= "destroy.png"), post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか?" %>
      <% else %>
    </div>
      <div class="my_comment">
        <%= render "users/post_comments/my_comment", post_comments: @post_comments %>
      </div>
      <div class="comment-form text-center">
        <%= form_with model:[@post, @post_comment], url: post_post_comments_path(@post), remote: true do |f| %>
          <% @post_comment.errors.full_messages.each do |message| %>
            <p>※<%= message %></p>
          <% end %>
          <%= f.text_area :comment, size:"110x5", rows:'5',placeholder: "80文字まで入力できます(※コメントは1投稿につき1回までとなります)" %>
          <div class="text-right">
            <%= image_submit_tag("comment.png") %>
          </div>
        <% end %>
      </div>
      <div class="favorite-btn">
        <%= render "users/favorites/favorite", post: @post %>
      </div>
    <!--if文の閉じ-->
    <% end %>
  </div>

</div>