<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td style="width:25%"><p><strong>＼登録情報／</strong><%= link_to image_tag(src= "edit.png"), users_my_page_edit_path %>
            <td><p><strong>＼退会／</strong><%= link_to image_tag(src= "withdraw-view.png"), users_unsubscribe_path %></p></td>
          </tr>
        </tbody>
      </table>

      <table class="user-show table table-hover table-inverse table-bordered">
        <tbody>
          <tr>
            <td>アカウント名</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td><%= @user.encrypted_password %></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><p><strong>＼投稿履歴／</strong><%= link_to image_tag(src= "look.png"), users_post_histories_path(current_user) %></p></td>
            <td><p><strong>＼お気に入りリスト／</strong><%= link_to image_tag(src= "look.png"), post_favorite_path(current_user) %></p></td>
            <td><p><strong>＼コメント履歴／</strong><%= link_to image_tag(src= "look.png"), my_comments_path %></p></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>