<div class="container">
  <div class="row">
    <div class="col-md-12">

　　<h2 class="title"><%= @user.name %>さんの会員情報編集</h2>
　　<%= form_with model: @user, url: admins_user_path(@user), local: true do |f| %>
　　<% @user.errors.full_messages.each do |message| %>
      <p>※<%= message %></p>
    <% end %>

　　  <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
      　　<table class= "table table-borderless table-sm">
      　　  <tr>
      　　    <td>会員ID</td>
      　　    <td> <%= @user.id %> </td>
      　　  </tr>
      　　  <tr>
              <td style="width:15%">アカウント名</td>
              <td style="width:15%"><%= f.text_field :name, size: 50 %></td>
      　　  </tr>
      　　  <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, size: 50 %></td>
      　　  </tr>
      　　  <tr>
              <td>会員ステータス</td>
              <td>
                <%= f.radio_button :withdraw_status, :false %>
                <%= f.label :withdraw_status, "有効", {value: :false, style: "display: inline-block;"} %>
                <%= f.radio_button :withdraw_status, :true %>
                <%= f.label :withdraw_status, "退会", {value: :true, style: "display: inline-block;"} %>
              </td>
      　　  </tr>
      　　  <tr>
      　　    <td></td>
            <td><%= f.submit "変更を保存", class: 'btn btn-primary btn-sm' %></td>
      　　  </tr>
      　　</table>
      　</div>
      </div>
    <% end %>

    </div>
  </div>
</div>