<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h4><%= "#{@user.name}" %>さんのコメント一覧(全<%= @posts.count %>件)</h4>
        <% @posts.each do |post| %>
          <table class= "comment-index d-inline-block table-borderless">
            <tr>
              <td><%= attachment_image_tag post, :image, format: 'jpeg', size: "340x220" %></td>
            </tr>
            <tr>
              <td>アカウント名：<%= "#{post.user.name}".truncate(18) %>さん</td>
            </tr>
            <tr>
            <% post.post_comments.each do |comment| %>
              <% if @user.id == comment.user_id %>
                <td>コメント:<%= comment.comment %></td>
              <% end %>
            <% end %>
            </tr>
          </table>
        <% end %>

    <!--colの閉じ-->
    </div>

    <div class="center-block mx-auto">
      <%= paginate @posts %>
    </div>

  </div>
</div>