<div class="container">
  <div class="row">
    <div class="col-md-12">

    <h4><%= "#{@user.name}" %>さんの投稿履歴(全<%= @user.posts.count %>件)</h4>
      <% @posts.each do |post| %>
        <table class= "post-index d-inline-block table-bordered">
          <tr>
            <td><%= attachment_image_tag post, :image, format: 'jpeg', size: "340x220" %></td>
          </tr>
          <tr>
            <td>アカウント名：<%= "#{post.user.name}".truncate(18) %>さん</td>
          </tr>
          <tr>
            <td><%= "ジャンル: #{post.genre.genre_name}" %></td>
          </tr>
          <tr>
            <td><%= "タイトル: #{post.title}".truncate(18) %></td>
          </tr>
          <tr>
            <td><%= "お気に入り数: #{post.favorites.count}件" %></td>
          </tr>
          <tr>
            <td>コメント数：<%= "#{post.post_comments.count}件" %></td>
          </tr>
          <tr>
            <td><%= "投稿日時: #{post.created_at.strftime('%Y/%m/%d')}" %></td>
          </tr>
        </table>
      <% end %>

    <!--colの閉じ-->
    </div>


    <div class="center-block mx-auto">
      <%= paginate @posts %>
    </div>

  </div>
</div>