<div class="container">
  <div class="row">
    <div class="col-md-12">

　　　<div class="title text-center">
        <%= link_to image_tag(src= "logo.png"), "/" %>
        <h2 class="title">管理者ログイン<h2>
      </div>

      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
      <br>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
          <table class="table table-hover table-inverse table-borderless table-sm text-center">
            <thead>
              <tr>
                <td><%= f.label :メールアドレス %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com", size: 50 %></td>
              </tr>
              <tr>
                <td><%= f.label :"パスワード" %></td>
                <td><%= f.password_field :password, autocomplete: "new-password", size: 50 %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "　　　ログイン　　　", class: 'btn btn-success btn-sm' %></td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>