<header>
  <div class="logo"><%= link_to image_tag(src= "logo_header.png"), "/", data: {"turbolinks" => false} %></div>
  <div class="openbtn"><span></span><span></span><span></span></div>
    <nav id="g-nav">
    <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-link" style="color: #AA5336">ようこそ、<%= user.name %>さん！</li>
          <li class="nav-link1"><%= link_to image_tag(src= "header10.png"), root_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header1.png"), new_post_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header2.png"), posts_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header3.png"), users_my_page_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header4.png"), destroy_user_session_path, method: :delete, data: {"turbolinks" => false} %></li>
        <% elsif admin_signed_in? %>
          <li class="nav-link1"><%= link_to image_tag(src= "header2.png"), posts_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header8.png"), admins_users_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header9.png"), admins_genres_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header4.png"), destroy_admin_session_path, method: :delete, data: {"turbolinks" => false} %></li>
        <% else %>
          <li class="nav-link1"><%= link_to image_tag(src= "header5.png"), about_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header2.png"), posts_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header6.png"), new_user_registration_path, data: {"turbolinks" => false} %></li>
          <li class="nav-link1"><%= link_to image_tag(src= "header7.png"), new_user_session_path, data: {"turbolinks" => false} %></li>
        <% end %>
      </ul>
    </div>
    </nav>
</header>