<div class="container">
  <div class="row">
    <div class="col-md-12">

　　　<div class="title text-center">
        <%= image_tag(src= "logo.png") %>
        <h2 class="title">mama弁アカウントを作成<h2>
        <p class="title-text">mama弁のサイトでご利用いただける「mama弁アカウント」を作成します<p>
        <p class="title-text">すでにアカウントをお持ちですか？<%= link_to "ログイン", new_user_session_path %><p>
      </div>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
      <br>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <table class="table table-hover table-inverse table-borderless text-center">
            <thead>
              <tr>
                <td style="width:27%">
                  <%= f.label :アカウント名 %>
                </td>
                <td>
                  <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder: "ママたろう", size: 50 %>
                </td>
              </tr>
              <tr>
                <td><%= f.label :メールアドレス %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com", size: 50 %></td>
              </tr>
              <tr>
                <td><%= f.label :"パスワード(6文字以上)" %></td>
                <td><%= f.password_field :password, autocomplete: "new-password", size: 50 %></td>
              </tr>
              <tr>
                <td><%= f.label :"パスワード(確認用)" %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password", size: 50 %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= image_submit_tag("account.png") %></td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>